body {
    background-image: url("/images/background_gsi.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
}

header {
    font-size: 20px;
    color: rgb(249, 248, 247);
    display: flex;
    align-self: flex-start;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


.App {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 270px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 6px solid rgba(243, 131, 52, 0.5);
    border-radius: 10px;
    margin: 15px;
    padding: 5px;

    background-size: cover;
    background-position: center;
}

.team-icon {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 10px 30px 10px;
}


.build-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;

    background-size: cover;
    background-position: center;
}

.card-icon {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin: 10px 10px 10px 10px;
}

.weapon-team, .artifact-stats, .info-notes {
    display: flex;
    flex-direction: column;
}

.info-notes{
    width: 650px;
    height: 600px;
    border-radius: 10px;
    margin: 10px 10px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weapon-section, .team-section, .artifact-section, .stats-section, .notes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(155, 152, 152, 0.5);
    border-radius: 10px;
    margin: 10px 10px 10px 30px;
    padding: 5px;
}

.stats-section {
    display: block;
}

.team-section, .artifact-section {
    display: flex;
    flex-direction: column;
}

.team-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapon-display {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.weapon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bis-weapon-section, .f2p-weapon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes-section {
    padding: 15px;
    margin: 10px 10px 10px 30px;
}

.stat {
    display: grid;
    grid-template-columns: 140px 15px 1fr;
}