body {
    background-image: url(data/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    }

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

#disp {
    display : flex  ;
    align-items: center;
    gap: 20px;
    margin: 10px auto 0;
    padding: 10px 20px;
    background-color: rgba(180, 249, 255, 0.5);
    opacity: 0;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial';   

    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease,
                opacity 1s ease;

}

#disp.open {
    max-height: 500px;
    padding: 20px;
    opacity: 1;
}

.dispbox {
    display: block;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    height: 150px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}